* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header {

    font-size: 35px;
    text-align: center;
    font-weight: 120px;
    margin-bottom: 50px;
    margin-top: 30px;
    letter-spacing:6;
    word-spacing: 55px;
    cursor: pointer;
    color: black;
}
.botão-WhatsApp {

    border-radius: 30px;
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: normal;
    cursor: pointer;
    width:200px;
    background-color: green;
    color: aliceblue;
    border: none;
}
 button:hover {
    opacity: 0.8;
 }
 button:active {
    opacity: 0.4;
 }



 h1{
   text-align: center;
   font-size: 50px;
   font-weight: 900;
   color: #161A49;
   line-height: 62px;
 }

 .button-agende {

    border-radius: 30px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    color:aliceblue;
    background-color:midnightblue;
    margin-left: 620px;
    line-height: normal;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    width: 800px;
    

 }

 h3 {

    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    text-align: center;
    color:  #161A49;
 }


 .foto-2 { 

    height: 572px;
    width: 600px;
    opacity: 0.9;
    border-radius: 20px;
   
    
    }
    .foto-1 {
        height: 572px;
        width: 600px;
        opacity: 0.9;
        border-radius: 20px;
    }

    .logo-image { 

        height: 572px;
        width: 816px;
        border-radius: 20px;
        
    }

    @media screen and (max-width:1450px) {

      .main {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 50%;
        display: block;
        
      }
      
      header {

        display: none;
      }

      
      div {
          
        width: 100%;
      }



      h1 {
        font-size: 57px;
         font-weight: 800;
         text-align: center;
         margin-top: 20px;
         width: 100vh;
        


      }

      h3 {

        width: 100vh;
        font-size: 49px;
        text-align: center;
        line-height: 55px;
    
      }


      .button-agende {
        display: none;

      }
      .foto-1 {

        width: 800px; 
        margin-left: 50px;
        
    
    
    }
    .foto-2 {

        width: 800px; 
        margin-left: 50px;
    }
      
    .logo-image
    {

        width: 800px; 
        margin-left: 50px;
    }




    }

